doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/assets/css/ie9.css')
  body.landing
    // Header
    header#header.alt
      h1
        a(href='./') Admin
      a(href='#nav') Menu
    // Nav
    nav#nav
      ul.links
        li
          a(href='./') Home
        li          
          a(href='#two') Add Device          
        li
          a(href='./elements') View Devices
        li
          a(href='./logout') Logout
      
    // Banner
    section#banner
      i.icon.fa-mobile-phone
      h2 Tracker
      p Admin Control Panel for Tracker      
    // One
    section#one.wrapper.style1
      .inner
        article.feature.right
          span.image
            img(src='./images/pic02.jpg', alt='')     
          .content
            h2 Recent Logs
            table              
              for device in positions
                tr
                  td
                    p=JSON.stringify(device.device)
                  td
                    p=JSON.stringify(device.latitude)
                  td
                    p=JSON.stringify(device.longitude)        
    // Two
    section#two.wrapper.special
      .inner
        header.major.narrow
          h2 Register Device
          p Register an email here, then sign in on the app with the registered email
        form(action='/registerdevice', method='POST')
          .container(class='25%')
            .row.uniform(class='25%')
              .six(class='12u$ 12u$(xsmall)')
                input(name='email', placeholder='Email', type='email')
          ul.actions
            li
              input.special(type='submit', value='Submit')
            li
              input.alt(type='reset', value='Reset')        
    
    // Footer
    footer#footer
      .inner
        
    // Scripts
    script(src='./assets/js/jquery.min.js')
    script(src='./assets/js/skel.min.js')
    script(src='./assets/js/util.js')
    //if lte IE 8
      script(src='./assets/js/ie/respond.min.js')
    script(src='./assets/js/main.js')
