doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/assets/css/ie9.css')
  body.landing
    // Header
    header#header.alt
      h1
        a(href='./') Admin
      a(href='#nav') Menu
    // Nav
    nav#nav
      ul.links
        li
          a(href='./') Home
        li          
          a(href='./generic') Add Device          
        li
          a(href='./elements') View Devices
    // Banner
    section#banner
      i.icon.fa-mobile-phone
      h2 Tracker
      p Admin Control Panel for Tracker      
    // One
    section#one.wrapper.style1
      .inner
        article.feature.left
          span.image
            img(src='./images/pic01.jpg', alt='')
          .content
            h2 Connected Devices
            p
              | View connected devices (devices tracked in the last 24 hours)            
        article.feature.right
          span.image
            img(src='./images/pic02.jpg', alt='')
          .content
            h2 Integer vitae libero acrisus egestas placerat  sollicitudin
            p
              | Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.
            ul.actions
              li
                a.button.alt(href='#') More
    // Two
    section#two.wrapper.special
      .inner
        header.major.narrow
          h2 Aliquam Blandit Mauris
          p Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan
        .image-grid
          a.image(href='#')
            img(src='./images/pic03.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic04.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic05.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic06.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic07.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic08.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic09.jpg', alt='')
          a.image(href='#')
            img(src='./images/pic10.jpg', alt='')
        ul.actions
          li
            a.button.big.alt(href='#') Tempus Aliquam
    // Three
    section#three.wrapper.style3.special
      .inner
        header.major.narrow
          h2 Magna sed consequat tempus
          p Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan
        ul.actions
          li
            a.button.big.alt(href='#') Magna feugiat
    // Four
    section#four.wrapper.style2.special
      .inner
        header.major.narrow
          h2 Get in touch
          p Ipsum dolor tempus commodo adipiscing
        form(action='#', method='POST')
          .container(class='75%')
            .row.uniform(class='50%')
              .sixu(class='12u$(xsmall)')
                input(name='name', placeholder='Name', type='text')
              .six(class='6u$ 12u$(xsmall)')
                input(name='email', placeholder='Email', type='email')
              .six(class='12u$')
                textarea(name='message', placeholder='Message', rows='4')
          ul.actions
            li
              input.special(type='submit', value='Submit')
            li
              input.alt(type='reset', value='Reset')
    // Footer
    footer#footer
      .inner
        
    // Scripts
    script(src='./assets/js/jquery.min.js')
    script(src='./assets/js/skel.min.js')
    script(src='./assets/js/util.js')
    //if lte IE 8
      script(src='./assets/js/ie/respond.min.js')
    script(src='./assets/js/main.js')
